@page
@model Triviapp.CreateModel

@{
    ViewData["Title"] = "Create Quiz";
}
<!--STYLING-->
<style>
    .form-group {
        margin: 1em;
        filter: drop-shadow(0 2px 5px black);
    }
    .bg-dark {
        border-radius: 5px;
        filter: drop-shadow(0 5px 10px black);
    }
</style>
<!--TITLE CONTAINER-->
<div class="row">
    <div class="col-11">
        <h1>Create New Quiz</h1>
    </div>
    <div class="col-1">
        <div>
            <!--BACK-->
            <a asp-page="Browse" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
<hr />
<!--CREATE FORM CONTAINER-->
<div class="row">
    <div class="col">
        <form method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--TITLE-->
                <div class="col-md-8 bg-dark text-white">
                    <div class="form-group">
                        <h3>Title</h3>
                        <input asp-for="Quiz.Title" class="form-control" />
                        <span asp-validation-for="Quiz.Title" class="text-danger"></span>
                    </div>
                </div>
                <!--CATEGORY-->
                <div class="col-md-4 bg-dark text-white">
                    <div class="form-group">
                        <h3>Category</h3>
                        <input asp-for="Quiz.Category" class="form-control" />
                        <span asp-validation-for="Quiz.Category" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <!--QUESTION SCAFFOLDER-->
                @for (int k = 0; k < Model.numOfQuestions; k++)
                {
                    <div class="col-md-5 bg-dark text-white" style="margin: 40px; padding: 10px;">
                        <div class="form-group">
                            <h3>Question @((k + 1).ToString())</h3>
                            <input asp-for="Quiz.Questions[k].Title" class="form-control" />
                            <span asp-validation-for="Quiz.Questions[k].Title" class="text-danger"></span>
                        </div>
                        <!--ANSWER SCAFFOLDER-->
                        @for (int i = 0; i < Model.numOfAnswers; i++)
                        {
                            <div class="row">
                                <!--ANSWER TITLE-->
                                <div class="col-9">
                                    <div class="form-group">
                                        <label asp-for="Quiz.Questions[k].Answers[i].Title" class="control-label"></label> @((i + 1).ToString())
                                        <input asp-for="Quiz.Questions[k].Answers[i].Title" class="form-control" />
                                        <span asp-validation-for="Quiz.Questions[k].Answers[i].Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--IS ANSWER CORRECT-->
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="Quiz.Questions[k].Answers[i].IsCorrect" class="control-label"></label>
                                        <input asp-for="Quiz.Questions[k].Answers[i].IsCorrect" class="form-control" />
                                        <span asp-validation-for="Quiz.Questions[k].Answers[i].IsCorrect" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <hr />
            <!-- UNFINISHED ADD ANSWER FUNCTIONALITY
            <div class="form-group">
                <input type="button" onclick="AddAnswer" value="Add answer" class="btn btn-primary" />
            </div> -->
            <!--SUBMIT-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
