@page
@model Triviapp.CreateModel

@{
    ViewData["Title"] = "Create Quiz";
}

<h1>Create New Quiz</h1>
<hr />
<div class="row">
    <div class="col">
        <form method="post">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Quiz.Title" class="control-label"></label>
                    <input asp-for="Quiz.Title" class="form-control" />
                    <span asp-validation-for="Quiz.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quiz.Category" class="control-label"></label>
                    <input asp-for="Quiz.Category" class="form-control" />
                    <span asp-validation-for="Quiz.Category" class="text-danger"></span>
                </div>
            </div>

            <!-- Create Question Scaffold -->
            @for (int k = 0; k < Model.numOfQuestions; k++)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Quiz.Questions[k].Title" class="control-label"></label> @((k + 1).ToString())
                        <input asp-for="Quiz.Questions[k].Title" class="form-control" />
                        <span asp-validation-for="Quiz.Questions[k].Title" class="text-danger"></span>
                    </div>

                    <!-- Create Answer Scaffold -->
                    @for (int i = 0; i < Model.numOfAnswers; i++)
                    {
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <label asp-for="Quiz.Questions[k].Answers[i].Title" class="control-label"></label> @((i + 1).ToString())
                                    <input asp-for="Quiz.Questions[k].Answers[i].Title" class="form-control" />
                                    <span asp-validation-for="Quiz.Questions[k].Answers[i].Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Quiz.Questions[k].Answers[i].IsCorrect" class="control-label"></label>
                                    <input asp-for="Quiz.Questions[k].Answers[i].IsCorrect" class="form-control" />
                                    <span asp-validation-for="Quiz.Questions[k].Answers[i].IsCorrect" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
             }

                    <!-- UNFINISHED ADD ANSWER FUNCTIONALITY
            <div class="form-group">
                <input type="button" onclick="AddAnswer" value="Add answer" class="btn btn-primary" />
            </div> -->

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
    </div>
</div>

<br />
<div>
    <a asp-page="Browse" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
