@page
@model Triviapp.CreateModel

@{
    ViewData["Title"] = "Create Quiz";
}
<!--STYLING-->
<style>
    .this-form-group {
        padding: 1em;
    }
    .bg-dark {
        border-radius: 5px;
        filter: drop-shadow(0 2.5px 5px black);
        padding: 1em;
        margin-bottom: 5em;
    }
</style>
<!--TITLE CONTAINER-->
<div class="row">
    <div class="col-sm-11">
        <h1>Create New Quiz</h1>
    </div>
    <div class="col-sm-1">
        <h1>
            <!--BACK-->
            <a asp-page="Browse" class="btn btn-primary">Back</a>
        </h1>
    </div>
</div>
<hr />
<!--CREATE FORM CONTAINER-->
<div class="row">
    <div class="col-sm">
        <form method="post">
            <div class="row bg-dark text-white">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--TITLE-->
                <div class="col-sm-8 this-form-group">
                    <h3>Title</h3>
                    <input asp-for="Quiz.Title" class="form-control" />
                    <span asp-validation-for="Quiz.Title" class="text-danger"></span>
                </div>
                <!--CATEGORY-->
                <div class="col-sm-4 this-form-group">
                    <h3>Category</h3>
                    <input asp-for="Quiz.Category" class="form-control" />
                    <span asp-validation-for="Quiz.Category" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <!--QUESTION SCAFFOLDER-->
                @for (int k = 0; k < Model.numOfQuestions; k++)
                {
                    <div class="col-sm-12 bg-dark text-white" >
                        <div class="this-form-group">
                            <h3>Question @((k + 1).ToString())</h3>
                            <input asp-for="Quiz.Questions[k].Title" class="form-control" />
                            <span asp-validation-for="Quiz.Questions[k].Title" class="text-danger"></span>
                        </div>
                        <!--ANSWER SCAFFOLDER-->
                        @for (int i = 0; i < Model.numOfAnswers; i++)
                        {
                        <div class="row this-form-group">
                            <!--ANSWER TITLE-->
                            <div class="col-sm-9">
                                <h4>Answer @((i + 1).ToString())</h4>
                                <input asp-for="Quiz.Questions[k].Answers[i].Title" class="form-control" />
                                <span asp-validation-for="Quiz.Questions[k].Answers[i].Title" class="text-danger"></span>
                            </div>
                            <!--IS ANSWER CORRECT-->
                            <div class="col-sm-3">
                                <h4 class="text-center">Correct</h4>
                                <input asp-for="Quiz.Questions[k].Answers[i].IsCorrect" class="form-control" />
                                <span asp-validation-for="Quiz.Questions[k].Answers[i].IsCorrect" class="text-danger"></span>
                            </div>
                        </div>
                        }
                    </div>
                }
            </div>
            <hr />
            <!-- UNFINISHED ADD ANSWER FUNCTIONALITY
            <div class="form-group">
                <input type="button" onclick="AddAnswer" value="Add answer" class="btn btn-primary" />
            </div> -->
            <!--SUBMIT-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
