@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Triviapp</h1>
    <p>Play now as a guest or <a href="">login</a> to create Quizzes!</p><br />
    <a asp-page="Quizzes/Browse" class="btn btn-primary" style="margin-top: 2em;">Play</a><br />
    <a class="btn btn-primary" style="margin-top: 2em;">Login</a><br />
    <a class="btn btn-primary" style="margin-top: 2em;">Register</a>
</div>