@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--LANDING PAGE-->
<div class="text-center">
    <div id="landing-container">
        <!--LOGO-->
        <img src="~/triviapp_T_Logo.png" style="height:150px" />
        <!--TITLE-->
        <h1 class="display-4">Triviapp</h1>
        <!--DESC-->
        <p>The online Trivia Quiz game!</p>
        <p>Play now as a guest or <a href="">login</a> to create Quizzes!</p>
        <br />
    </div>
    <!--BUTTONS-->
    <div id="landing-buttons">
        <a class="btn btn-primary btn-lg" style="margin: 1em;" asp-page="Quizzes/Browse">Play</a>
        <br />
        <a class="btn btn-primary btn-lg" style="margin: 1em;" asp-page="Account/Login">Login</a>
        <br />
        <a class="btn btn-primary btn-lg" style="margin: 1em;" asp-page="Account/Register">Register</a>
    </div>
</div>