@page
@model Triviapp.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>
<p>This website only obtains your data when creating user accounts by storing your username and password.</p>
<p>At any time you can delete your account and your records will not longer exist.</p>
<p>When logged in a cookie is created that is unique to your account but does not contain any of your information.</p>
<p>Please email jordanhall@talktalk.net to contact the site adminstrator for any requests in regards to data</p>
